# Demographic Data Analysis

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('adult_data.csv')

In [17]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# 1. How many people of each race are represented in this dataset?

In [8]:
rcount=df["race"].value_counts()

In [9]:
rcount

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

# 2. What is the average age of men?

In [15]:
average_age_men = df[df['sex'] == 'Male']['age'].mean()

In [16]:
average_age_men

39.43354749885268

# 3. What is the percentage of people who have a Bachelorâ€™s degree?

In [18]:
Bdegree=(df["education"]=="Bachelors").mean()*100

In [19]:
Bdegree

16.44605509658794

# 4. What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [20]:
advanced_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
percentage_advanced_education_rich = (df[advanced_education & (df['salary'] == '>50K')].shape[0] / df[advanced_education].shape[0]) * 100

In [21]:
percentage_advanced_education_rich

46.535843011613935

# 5. What percentage of people without advanced education make more than 50K?

In [22]:
without_advanced_education = ~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
percentage_woutadvanced_education = (df[without_advanced_education & (df['salary'] == '>50K')].shape[0] / df[advanced_education].shape[0]) * 100

In [23]:
percentage_woutadvanced_education

58.13643038312642

# 6. What is the minimum number of hours a person works per week?

In [24]:
minhour=df["hours-per-week"].min()

In [25]:
minhour

1

# 7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [40]:
minhours=df["hours-per-week"].min()
mw=df[df["hours-per-week"]==minhours]
percentage=mw[mw["salary"]==">=50K"].shape[0]/mw.shape[0]*100

In [41]:
percentage

0.0

# 8. What country has the highest percentage of people that earn >50K and what is that percentage?

In [58]:
country_salary = df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts() * 100
richcountry= country_salary.idxmax()
richcountry_percentage= country_salary.max()

In [57]:
richcountry

'Iran'

In [59]:
richcountry_percentage

41.86046511627907

# 9. Identify the most popular occupation for those who earn >50K in India.

In [67]:
occ=df[(df["salary"]==">50K") & (df["native-country"]=="India")]["occupation"].value_counts().idxmax()

In [68]:
occ

'Prof-specialty'